<%= form_for(@atom) do |f| %>
  <% if @atom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atom.errors.count, "error") %> prohibited this atom from being saved:</h2>

      <ul>
      <% @atom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
