<h1>Listing atoms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atoms.each do |atom| %>
      <tr>
        <td><%= link_to 'Show', atom %></td>
        <td><%= link_to 'Edit', edit_atom_path(atom) %></td>
        <td><%= link_to 'Destroy', atom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atom', new_atom_path %>
