edit molecule 


{{model}}
{{model.id}}
{{model.name}}
{{model.molecular_weight}}
atoms: {{model.atoms}}
my_atoms: {{model.my_atoms}}
<br />
<br />
atoms
<br />
{{my_atoms.length }}
{{my_atoms }}
{{atoms.length }}
{{atoms }}
{{#each atom in my_atoms }}
  <p>{{ atom.id }}</p>
{{/each}}

